body,div,span,p ,html{
	margin: 0;
	padding: 1;
	border: 0;
	font-size: 15px;
	font-style: inherit;
}

/*body {
    background: #f8f8f8;
    text-align: center;
    color: #fff;
	font-family:Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
	background-image:url(signup3.jpg);
}*/

/*#navigator {
	height: 10px;
}

#navigator ul{
	margin:0 0 0px 10px;
}

#navigator ul li{
	float: right;
	margin: 0 30px 0 0;
	list-style-type: none;
	color: black;
}

#navigator ul li a{
	color: black;
}


#navigator ul li a:hover{
	background: url(images/hover.jpg);
	font-size: 18px;
}*/

/*.page{
	width: 500px;
	height: auto;
	margin: 100 auto 0 auto;
}*/

h1{
	font-size: 40px;
	font-weight: 800;
	text-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.firstname{
	width: 150px;
	height: 40px;
	margin-right: 20px;
}
.lastname {
	width: 150px;
	height: 40px;
	margin-left: 20px;
}

input{
	width: 350px;
	height: 40px;
	margin-top: 25px;
	padding: 0 30px;
	background: #2d2d2d;
	background: rgba(55,55,55,.27);
	font-size: 15px;
	color:#fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border: 3px;
}

input:-ms-input-placeholder { color: #fff; }
input::-webkit-input-placeholder { color: #fff; }

form {
	text-align: center;
	width: 300px;
	position: relative;
	margin: 15px auto 0 auto;
}

button {
	width: 450px;
	height: 45px;
	margin-top: 25px;
	background: #008800;
	font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 2px;
    box-shadow:5px 5px 5px black;
}

.loginPage{
	margin-top: 25px;
}

.login{
	font-size: 16px;
	color: #fff;
}

.loginPage a:hover{
	font-color:black;
	font-size: 20px;
	background: url(images/hover.jpg);
}

.navbar{
            background-color: #555;
    }
    .navbar-brand{
            color:white;
    }
    .navbar-nav li {
            font-color:white;
    }
    body {
    top:0;
	left:0;
	height:100%;
	width:100%; 
    text-align: center;
    color: #fff;
	font-family:Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
	background-image:url(/static/image/signup.jpg);
	background-size: 100%;
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover; -webkit-background-size: cover;
	zoom:1; 
}
	.page{
	width: 500px;
	height: 650px;
	margin: 100 auto 0 auto;
}
	
      footer {
      background-color: #555;
      color: white;
      padding: 15px;
      text-align: center;